* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
  font-family: 'Outfit', sans-serif;
  overflow-x: hidden;
}

/* Intro Screens */
.intro-screen {
  position: fixed;
  inset: 0;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 1s ease;
}

.intro-screen.hidden {
  opacity: 0;
  pointer-events: none;
}
.cube-wrapper .hidden {
  display: none !important;
}
.hidden {
  display: none !important;
}

.cube-sticky {
  position: sticky;
  top: 0;
  min-height: 100vh;
  background-color: #000;
  padding-top: 80px;
  padding-bottom: 80px;
}

#aboutHeading h2,
#aboutHeading p {
  margin: 0;
}

.wave {
  font-size: 3rem;
  animation: wave 2s infinite;
  transform-origin: 70% 70%;
}

@keyframes wave {
  0%, 100% { transform: rotate(0deg); }
  10% { transform: rotate(14deg); }
  20% { transform: rotate(-8deg); }
  30% { transform: rotate(14deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(10deg); }
}

.welcome-text {
  font-size: 2rem;
  opacity: 0.8;
  color: #fff;
}

.welcome-line {
  opacity: 0;
  font-size: 4rem;
  font-weight: 700;
  transition: opacity 1s ease;
  color: #fff;
}

.welcome-line span {
  font-weight: 300;
  font-size: 2.5rem;
}

.welcome-line.visible {
  opacity: 1;
}

/* Navbar */

.navbar-nav .nav-link{
  margin-left: 20px;
}
.navbar-brand{
  font-size: 34px;
  font-weight: 700;
}

.navbar-brand span{
  font-weight: 400;
}

/* Banner Section */
.banner-section.hidden {
  display: none;
}
.banner-section.show {
  display: block;
}

.banner-section {
  position: relative;
  padding-top: 80px;
  /* padding-bottom: 120px; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
 
  background-size: cover;
}

.banner-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url(../Assets/Images/bg.png); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  opacity: 0.7; /* Adjust to your preferred transparency */
  z-index: -1;
}

.profile-img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  object-position: top center;
  border: 1px solid #383838;
}

.gradient-text {
  font-size: 3.6rem;
  font-weight: 600;
  background: linear-gradient(
    90deg,
    #c0c0c0 0%,
    #ffffff 20%,
    #a0a29b 40%,
    #ffffff 60%,
    #c0c0c0 80%
  );
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: moveGradient 6s linear infinite;
  text-align: center;
  max-width: 70%;
  margin: 0 auto;
}

@keyframes moveGradient {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: -200% center;
  }
}



.gradient-text span {
  font-weight: 400;
}

.stats-row{
color: #ffffff;
opacity: 0.9;
}
.stats-row span{
   color: rgba(255, 255, 255, 0.55);
  font-weight: 300
}

.btn-success {
  background-color: #fff;
  border-color: #302f2f;
  color: #000;
  border-radius: 30px;
  padding: 12px 20px;
}
.btn-success:hover {
  background-color: #ffffff;
  color: #000;
  border-color: rgb(51, 51, 51);
}

.btn-outline-light{
    border-radius: 30px;
  padding: 12px 20px;
   border-color: #545353;
}
.btn-outline-light:hover {
    color: #fff ;
    background-color: #1d1f21;
    border-color: #393a3c;
}

/* Skills Slider */
.skills-slider-wrapper {
  display: none; /* Initially hidden */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /* background: #000; */
    padding: 20px 0;
    overflow: hidden;
    z-index: 1030;
    /* border-top: 1px solid #3b3b3b; */
}

/* When ready to show */
.skills-slider-wrapper.show {
  display: block;
}

.skills-slider {
  display: flex;
  align-items: center;
}

.skills-slider img {
  height: 60px;
  width: auto;
  max-width: 150px;
  object-fit: contain;
  filter: drop-shadow(0 0 4px #fff);
  transition: transform 0.3s;
  padding: 0 30px;
}

.skills-slider img:hover {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 80px;
  background: linear-gradient(to right, #000, transparent);
  z-index: 2;
}
.overlay.right {
  right: 0;
  transform: rotateY(180deg);
}
.overlay.left {
  left: 0;
}

/* cube */

/* About Section Cube Style */
.about-me{
    font-size: 6rem;
    font-weight: 600;
    background: linear-gradient(90deg, #c0c0c0 0%, #ffffff 20%, #a0a29b 40%, #ffffff 60%, #c0c0c0 80%);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: moveGradient 6s linear infinite;
    text-align: center;
    margin: 0 auto;
}

.scroll-area {
  height: 400vh;
  position: relative;
  z-index: 2;
  background: #000;
  color: white;
}

.cube-sticky {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.cube-wrapper {
  perspective: 1000px;
  width: 100%;
  max-width: 1100px;
  padding: 0 5%;
}

.cube {
  width: 100%;
  height: 200px;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
}

.face {
    position: absolute;
    width: 100%;
    border: 1px solid #272525;
    height: 100%;
    background-color: #0b0b0b;
    border-radius: 12px;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items:center;

}

.left {
  /* flex: 1 1 60%; */
}

.left p{
  padding-top: 2.8rem;
  font-size: 1.3rem;
  font-weight:400 ;
}

.right {
  font-size: 10rem;
  font-weight: 700;
  opacity: 0.4;
}

.face--front  { transform: rotateX(0deg) translateZ(100px); }
.face--bottom { transform: rotateX(90deg) translateZ(100px); }
.face--back   { transform: rotateX(180deg) translateZ(100px); }
.face--top    { transform: rotateX(-90deg) translateZ(100px); }



/* Responsive */
@media (max-width: 576px) {
  .welcome-line {
    font-size: 2.5rem;
  }

  .btn-success {
  padding: 12px 16px;
  font-size: 14px;
}

.btn-outline-light{
    padding: 12px 16px;
  font-size: 14px;
}



}

@media (max-width: 991px) {
  .container.text-center.d-flex.flex-column.justify-content-center.align-items-center.flex-grow-1 {
    min-height: 72vh;
    padding: 40px 0px;
    padding-bottom: 0px;
    max-width: 100% !important;
  }

  .gradient-text {
    font-size: 2.3rem;
    max-width: 100%;
    text-align: center;
    padding: 8px 10px;
  }

  .welcome-line {
    font-size: 2rem;
    text-align: center;
  }

  .welcome-line span {
    font-size: 1.5rem;
  }

  .stats-row {
    /* flex-direction: column; */
    text-align: center;
    padding-bottom: 8px;
    font-size: 14px;
    font-weight: 300;
    gap:12px !important
  }

  .navbar-brand{
    font-size: 26px;
  }
  .about-me {
    font-size: 4rem;
    margin-bottom: 5rem;
}
.cube-wrapper {
    perspective: 1000px;
    width: 88%;
    max-width: 1100px;
    padding: 0 5%;
}
.face{
 padding: 14px 16px;
}

.face .left .h2{
  font-size: 18px;
}
.left p {
    padding-top: 2rem;
    font-size: 12px;
}
 .face .right {
    display: none;
}
.cube {
  height: 180px;
}
.face--front  { transform: rotateX(0deg) translateZ(90px); }
.face--bottom { transform: rotateX(90deg) translateZ(90px); }
.face--back   { transform: rotateX(180deg) translateZ(90px); }
.face--top    { transform: rotateX(-90deg) translateZ(90px); }
}



